@import variable

body
	font: 1.1em $schrift

p
	text-align: justify

td
	color: $schrift-farbe

th
	text-align: right


th,
td
	padding-left: 10px

th:first-of-type,
td:first-of-type
	padding-left: 0px

th:last-of-type,
td:last-of-type
	padding-right: 0px

tr.border-bottom td,
.border-indent,
#main tr
	border-bottom: $rahmen-dünn

table#main
	border-collapse: collapse

.container
	border: $rahmen-dünn
	padding: 5px
	width: 300px
	height: 100%

.align-right
	text-align: right

.align-center
	text-align: center

.small
	font-size: 0.6em

.indent
	text-indent: 10px
	@extend .bg-color

.border-fat
	border-bottom: 15px solid black
	width: 298px

.border-middle
	border-top: 10px solid black

.bg-color
	background-color: yellow



